<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="wrap">
        <header>
            <div class="inner">
                <div id="logo">
                    <h2 onclick="location.href='/';">DW아카데미</h2>
                </div>
                <nav>
                    <ul>
                        <li><a href="/menu1/main">menu1</a></li>
                        <li><a href="/menu2/main">menu2</a></li>
                        <li><a href="/menu3/main">menu3</a></li>
                        <li><a href="/menu4/main">menu4</a></li>
                        <li><a href="/menu5/main">menu5</a></li>
                    </ul>
                </nav>
            </div>
        </header>