@charset "utf-8";

*{
    margin:0 auto;
	padding:0;
	list-style:none;
	font-family:"맑은 고딕", sans-serif;
    font-size: 20px;
	color:#333333;  /* 컬러 가이드: 기본 텍스트의 색 */
}

a { 
    text-decoration: none;
    display: block;
}

body {
    background-color: #ffffff;
}

div#wrap {
    width: 1000px;
    height: 650px;
}

div#wrap::after {
    content: '';
    display: block;
    clear: both;
}

header {
    width: 200px;
    height: 100%;

    float: left;
}

header > div.top {
    width: 200px;
    height: 650px;
}

header > div.top > div.logo {

    width: 100%;
    height: 40px;

    margin: 30px 0;
}

header > div.top > nav.menu {
    width: 100%;
    padding: 0 10px;

    box-sizing: border-box;

}

header > div.top > nav.menu li {

    width: 180px;
    height: 40px;

    text-align: center;
    
}

header > div.top > nav.menu li > a {

    color: #eeeeee; 
    height: 40px;
   
    font-size: 16px;
    font-weight: bold;

    line-height: 40px;

    background-color: #444444;

}
div#content-wrap {
    width: 800px;
    height: 100%;
    float:left;
}

.logo {

    background-image: url('./Header/header_logo.png');

    background-repeat: no-repeat;

    background-size: 100%;

    background-position: center;

}

header > div.top > nav.menu li > a:hover {
    color: #555555;
    background-color: #bbbbbb;
}

div#content-wrap > div.imgslide {
    
    width: 100%;
    height: 350px;
    position: relative;

}

div#content-wrap > div.imgslide > a {
    position: absolute;
    height: 100%;
}

div#content-wrap > div.imgslide > a > span {
    width: 160px;
    text-align: center;
    color: #ffffff;

    background-color: rgba(200,200,200,0.5);

    position: absolute;
    left: 40%;
    top: 50%;
}

div#content-wrap > div.contents {
    width: 100%; 
    height: 200px;

}

div#content-wrap > div.contents::after {
    content: '';
    display: block;
    clear: both;
}

div#content-wrap > div.contents > .notice {
    width: 300px;
    height: 100%;

    float: left;

}

div#content-wrap > div.contents > .notice > h4 {
    height: 50px;
    line-height: 50px;
}

div#content-wrap > div.contents > .notice > table {
    width: 100%;
}

div#content-wrap > div.contents > .notice > table td, a{
    height: 30px;
    line-height: 30px;

    font-size: 14px;
}

div#content-wrap > div.contents > .notice > table td:nth-child(1) {
    width: 60%;
    text-align: left;
}

div#content-wrap > div.contents > .notice > table td:nth-child(2) {
    width: 40%;
    text-align: left;
}

div#content-wrap > div.contents > .notice > table tr:hover {

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    color: #111111;
}

div#content-wrap > div.contents > .gallery {
   width: 300px;  
   height: 100%;
   
   float: left;

}

div#content-wrap > div.contents > .gallery > h4 {
    height: 50px;
    line-height: 50px;
}

div#content-wrap > div.contents > .gallery > ul::after {
    content: '';
    display: block;
    clear: both;
}

div#content-wrap > div.contents > .gallery > ul > li {

    float: left;
    padding: 10px;
    margin-top: 10px;

}

div#content-wrap > div.contents > .gallery > .gallery img {
    width: 80px;
    height: 80px;
}

div#content-wrap > div.contents > .gallery > .gallery img:hover {
    opacity: 0.5;
}


div#content-wrap > div.contents > .shortcut {
   width: 200px;
   height: 100%;
   
   float: left;

   position: relative;
}

div#content-wrap > div.contents > .shortcut img {
    width: 180px;
    height: 180px;
    padding: 10px;
}

div#content-wrap > div.contents > .shortcut > a {
    position: absolute;
    height: 100%;
}

div#content-wrap > div.contents > .shortcut .spantx {
    width: 100px;
    text-align: center;
    color: #111111;

    background-color: rgba(200,200,200,0.5);

    position: absolute;
    left: 25%;
    top: 45%;
}

div#content-wrap > footer > div.bottom {
    width: 800px;
    height: 100px; 

    background-color: #cccccc;
}


div#content-wrap > footer > div.bottom ::after {
    content: '';
    display: block;
    clear: both;
}

div#content-wrap > footer > div.bottom > div.btlogo {
    width: 200px;
    height: 100px;

    float: left;
} 

div#content-wrap > footer > div.bottom > div.btlogo img {
    width: 200px;
    height: 40px;

    margin-top: 25px;
    margin-left: 10px;
}

div#content-wrap > footer > div.bottom > div.copy {
    float: left;
    width: 400px;
    height: 100px;
}

div#content-wrap > footer > div.bottom > div.copy > span{
    text-align: center;
    font-size: 14px;
    
    line-height: 100px;
}


div#content-wrap > footer > div.bottom > div.familysite{
    float: right;
    width: 200px;
    height: 100px;
}

div#content-wrap > footer > div.bottom > div.familysite select {
    height: 30px;
    height: 30px;

    margin: 25px auto;

    font-size: 14px;
}

