<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <application
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity" android:exported="true" />
        <activity android:name=".ProfileActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".BoardActivity" android:exported="true" />
        <activity android:name=".DiseaselistActivity" android:exported="true" />
        <activity android:name=".ResultActivity" android:exported="true" />

        <!-- 다른 액티비티 선언 -->
        <activity android:name=".BoardwriteActivity" android:exported="true" />
        <activity android:name=".MoreHospital" android:exported="true" />
        <activity android:name=".InfoActivity1" android:exported="true" />
        <activity android:name=".InfoActivity2" android:exported="true" />
        <activity android:name=".InfoActivity3" android:exported="true" />
        <activity android:name=".InfoActivity4" android:exported="true" />
        <activity android:name=".InfoActivity5" android:exported="true" />
        <activity android:name=".InfoActivity6" android:exported="true" />
        <activity android:name=".InfoActivity7" android:exported="true" />
        <activity android:name=".InfoActivity8" android:exported="true" />
        <activity android:name=".InfoActivity9" android:exported="true" />
        <activity android:name=".InfoActivity10" android:exported="true" />
        <activity android:name=".InfoActivity11" android:exported="true" />
        <activity android:name=".InfoActivity12" android:exported="true" />
        <activity android:name=".InfoActivity13" android:exported="true" />
        <activity android:name=".InfoActivity14" android:exported="true" />
    </application>
</manifest>
